<!DOCTYPE html>

<head>
    <!-- config -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset='UTF-8'>
    <title> 경기지역화폐 가맹점 </title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- API -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8a0987a28693281e504acffe928cb5b4"></script>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=b7imkm67am"></script>

    <!-- css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link href="{{ url_for('static', filename='css/font.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/lists.css') }}" rel="stylesheet">
    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    
    <script src="{{ url_for('static', filename='js/getdata.js') }}"></script>
    <script>
        var map = 0, lat = 0, logt = 0, nm = '';
        function load_map(REFINE_WGS84_LAT, REFINE_WGS84_LOGT, CMPNM_NM) {
            lat = parseFloat(REFINE_WGS84_LAT);
            logt = parseFloat(REFINE_WGS84_LOGT);
            nm = CMPNM_NM;
        }

        $(document).ready(function() {
            //////////////////////////////////////////////////////////////////////////
            // 네이버 맵
            //////////////////////////////////////////////////////////////////////////
            $('#myModal').on('shown.bs.modal', function (e) {
                // map
                var map = new naver.maps.Map('map', {
                    center: new naver.maps.LatLng(lat, logt),
                    zoom: 16
                });

                // marker
                var marker = new naver.maps.Marker({
                    position: map.getCenter(),
                    map: map
                });

                // event
                var listener = naver.maps.Event.addDOMListener(marker.getElement(), 'click', function() {
                    url = 'http://map.naver.com/index.nhn?enc=utf8&level=2&lng='+ logt +'&lat='+ lat +'&pinTitle='+nm+'&pinType=SITE';
                    window.open(url, '_blank');
                });
            });
            $('#myModal').on('hide.bs.modal', function (e) {
                $('#map').empty();
            });

            //////////////////////////////////////////////////////////////////////////
            // 카카오 맵
            //////////////////////////////////////////////////////////////////////////
            //$('#myModal').on('shown.bs.modal', function (e) {
            //    // map
            //    var container = document.getElementById('map');
            //    var options = {
            //        center: new kakao.maps.LatLng(lat, logt),
            //        level: 3
            //    };
            //    map = new kakao.maps.Map(container, options);
            //
            //    // cursor
            //    var markerPosition  = new kakao.maps.LatLng(lat, logt); 
            //    var marker = new kakao.maps.Marker({ 
            //        position: markerPosition
            //    }); 
            //    marker.setMap(map);
            //
            //    // info window
            //    kakao.maps.event.addListener(marker, 'click', function() {
            //        window.open('https://map.kakao.com/link/map/'+nm+','+lat+','+logt, '_blank'); 
            //    });
            //});
            //$('#myModal').on('hide.bs.modal', function (e) {
            //    $('#map').empty();
            //});

            //////////////////////////////////////////////////////////////////////////
            // 페이징 처리
            //////////////////////////////////////////////////////////////////////////
            // Previous
            $('.pagination').append('<li class="page-item" value='+{{ int((page - 1)/10) * 10 }}+' style="cursor:pointer;" > <a class="page-link"> Previous </a> </li>');
            {% if (int((page - 1)/10) * 10) == 0  %}
            $($('.pagination li')[0]).addClass('disabled');
            {% endif %}

            // index
            for(var i = {{ int((page - 1)/10) * 10 + 1 }}; i <= {{ (int((page - 1)/10) + 1) * 10 }}; i++ ) {
                if( i <= {{ len_page }}) {
                    $('.pagination').append('<li class="page-item" value='+i+'> <a class="page-link" style="cursor:pointer;" > '+i+' </a> </li>');
                }
            }

            // Next
            $('.pagination').append('<li class="page-item" value='+{{ (int((page - 1)/10) + 1) * 10 + 1 }}+' style="cursor:pointer;" > <a class="page-link"> Next </a> </li>');
            {% if ((int((page - 1)/10) + 1) * 10 + 1) > len_page %}
            $($('.pagination li')[$('.pagination li').length-1]).addClass('disabled');
            {% endif %}

            // click event
            $($('.pagination li')[{{ page - int((page - 1)/10)*10 }}]).addClass('active');
            $('.pagination li').click(function(){
                if($(this).attr('class').indexOf('disabled') == -1) { location.href = '/getlist/'+this.value; }
            });

            //////////////////////////////////////////////////////////////////////////
            // 후 처리
            //////////////////////////////////////////////////////////////////////////
            $("input[name=CMPNM_NM]").val("{{ cookies[0] }}");
            $("input[name=INDUTYPE_NM]").val("{{ cookies[1] }}");
            $("input[name=REFINE_LOTNO_ADDR]").val("{{ cookies[2] }}");
        });
    </script>
</head>

<body class='text-center no-drag' style='background: #fafdfe;'>
    <nav class="navbar navbar-expand-lg navbar-light sticky-top" style='background: lightblue;'>
        <a href='/' class="navbar-brand" style='font-family: TTTogether; font-size: 2em;'>경기지역화폐 가맹점</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <form method="post" action='/getlist/1' class="form-row my-2 my-lg-0">
                <div class="col-md div-md" style="padding-top: 8px;"><input type=text name='REFINE_LOTNO_ADDR' style='height: 40px;' class="form-control" placeholder="주소 (ex. 안양, 안양시)"></div>
                <div class="col-md div-md" style="padding-top: 8px;"><input type=text name='CMPNM_NM' style='height: 40px;' class="form-control" placeholder="상호명"></div>
                <div class="col-md div-md" style="padding-top: 8px;"><input type=text name='INDUTYPE_NM' style='height: 40px;' class="form-control" placeholder="업종명"></div>
                <div class="div-md"><button type="submit" id='submit' class='btn btn-primary my-2 mr-sm-0' style='height: 40px;'>확인</button></div>
            </form>
        </div>
    </nav>
    <br>
    <div class='container'>
        <h3 style='float: left; font-family: TTTogether;'> 가맹점 리스트 </h1>
        <div class='table-responsive' style="background: #fafdfe;">
            <table class='table table-hover'>
                <thead class="thead-light">
                    <tr>
                        <th width=10%> 시군명 </th> <th width=20%> 상호명 </th> <th width=20%> 업종명 </th> <th> 주소 </th> <th width=15%> 전화번호 </th>
                    </tr>
                </thead>
                <tbody>
                    {% for i, v in enumerate(data) %}
                        {% if v[6] != 'None' %}
                        <tr onclick="javascript:load_map({{ v[6] }}, {{ v[7] }}, '{{ v[2] }}');" style="cursor:pointer;" data-toggle="modal" data-target="#myModal" >
                        {% else %}
                        <tr>
                        {% endif %}
                            <td> {{ v[1] }} </td>
                            <td> {{ v[2] }} </td>
                            <td> {{ v[3] }} </td>
                            <td> {{ v[4] }} </td>
                            <td> {{ v[5] }} </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <nav id='page-button'>
            <ul class="pagination pagination-sm justify-content-center"> </ul>
        </nav>
    </div>

    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-dialog-centered" style='max-width: 800px;'>
            <div class="modal-content" style='height: 600px;'>
                <div class="modal-body">
                    <div id='map' style='width: 100%; height: 98%;'> </div>
                    <p style='text-align: left;'> ※ 마커를 클릭하면 네이버 맵으로 이동합니다. </p>
                </div>
            </div>
        </div>
    </div>
</body>